.idea
dist
target
*.iml
.DS_Store
.class
local.patch
/scripts/deploy/FFStg/OmegaCms-4.70.war
/.metadata/
.classpath
.settings
.project
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

